.icon-right {
    position: absolute;
    right: 10px;
    bottom: 8px
}

.emoij-btn {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

aside.emoji-picker-react {
    position: absolute;
    top: -340px;
    right: 0px;
}

form {
    width: 100%;
}

.main-content .page-content .message-input input {
    border: none;
    background-color: rgb(232, 240, 254);
}

.main-content .page-content .message-input input:focus {
    background-color: rgb(232, 240, 254);
}

.skin-tones-list {
    display: none !important;
}

.upload img {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.chat-box {
    padding-top: 12px!important;
    padding-bottom: 12px!important;
    position: relative;
    border-radius: 30px;
    border: 1px solid rgba(85,110,230,.1)!important;
    background-color: rgb(232, 240, 254);
    overflow: hidden;
    width: 100%;
}

.upload-content {
    padding: 7.520px 12px; 
}

.displayNone {
    display: none;
}